body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header {
    width: 100%;
    height: 120px;
    background: #21C08B;
    display: flex;
    justify-content: space-between;
}

.header__img {
    width: 200px;
    height: 60px;
    margin: 10px 0px 0px 8px;
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh -200px);
}

.login__container {
    background-color: rgba(2500, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media>div>img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    text-align: center;
    font-size: 14px;
}

.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    font-size: 16px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    padding: 10px 30px;
    margin: 10px 0px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    height: 50px;
    letter-spacing: 1px;
}

.button:hover {
    background-color: rgba(72, 203, 255, 0.7);
}

.footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #AB88FF;
}

.footer a {
    margin-left: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:600px) {
    .login__container {
        padding: 0px;
        border: none;
        background: transparent;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}